Calendar_Agent.json
{
  "name": "Calendar Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=You are a calendar assistant. You have access to multiple tools to take any action within calendar. Here is the current date/time: {{ $now }}\n\nCreate Event:\nIf an end date isn't specified for the event, assume it will be 60 minutes long. Use this tool if there is no attendee specified.\n\nCreate Event with Attendee:\nIf an end date isn't specified for the event, assume it will be 60 minutes long. Use this tool WHEN AN ATTENDEE IS SPECIFIED.\n\nGet Events:\nUse this tool to get events from a certain day and summarize them."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -100,
        -40
      ],
      "id": "672d06db-be92-4f11-a02a-6df75b4a1387",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -340,
        220
      ],
      "id": "924972b9-3bba-40f6-839e-3a4eb80ec83a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "PGJB12E3ClAzGl3q",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"query\":\"\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -360,
        -120
      ],
      "id": "cd68db4a-c3d5-43e1-af3e-3adc48aca82b",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "vibeasts01@gmail.com",
          "mode": "list",
          "cachedResultName": "vibeasts01@gmail.com"
        },
        "start": "={{ $fromAI(\"startTime\") }}",
        "end": "={{ $fromAI(\"endTime\") }}",
        "additionalFields": {
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -160,
        260
      ],
      "id": "7ff81dbd-f9f5-4b56-aa73-c03cf579fe43",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "VFjzaAfr4IWbRISI",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "vibeasts01@gmail.com",
          "mode": "list",
          "cachedResultName": "vibeasts01@gmail.com"
        },
        "start": "={{ $fromAI(\"startTime\") }}",
        "end": "={{ $fromAI(\"endTime\") }}",
        "additionalFields": {
          "attendees": [
            "={{ $fromAI(\"attendee\") }}"
          ],
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -20,
        260
      ],
      "id": "aed09eff-dab8-4a09-95fd-cfdccb1a1ea5",
      "name": "Create Event with Attendee",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "VFjzaAfr4IWbRISI",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "vibeasts01@gmail.com",
          "mode": "list",
          "cachedResultName": "vibeasts01@gmail.com"
        },
        "returnAll": true,
        "timeMin": "={{ $fromAI(\"oneDayBefore\",\"one day before the date the user requested\") }}",
        "timeMax": "={{ $fromAI(\"oneDayAfter\",\"one day After the date the user requested\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        160,
        180
      ],
      "id": "a8d0b7a4-c978-4a80-a85b-0d92acee8078",
      "name": "Get Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "VFjzaAfr4IWbRISI",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4fcc6a9e-08ef-47a4-83fe-e97a61345b6b",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        -40
      ],
      "id": "71e9a912-2915-41b5-a696-073caac0a2e8",
      "name": "Response"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "get my events from today"
        }
      }
    ]
  },
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event with Attendee": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6ad05907-f49a-4ca3-a397-9889c78d7798",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aab3a99e2f4c91fd1e21f1e7d1e9ef88e2ad1f5a0b76456225efbafe77047ef2"
  },
  "id": "GZY40SU9rYerd6tV",
  "tags": []
}